<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>countryListPage</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--css-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/about.css">

    <!--javascript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/superfish.min.js"></script>
    <script src="javascript/jquery.magnific-popup.min.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/main.js"></script>
</head>
<body>


<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="tel:+XX XXX XXXX XXX">+XX XXX XXXX XXXX</a>
                    <a href="XXXXXX@XXXXXXXX">XXXXXX@XXXXXXXX</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="http://localhost:3000/loginPage"><img src="img/login.png" alt="" title="" /></a>
            </div>

            <p1 class="un-login" id="un-login">
                <a href="http://localhost:3000/loginPage" style="margin-right: 455px;">Log in</a>
            </p1>
            <p1 class="userName" id="userid" style="display: inline;margin-right: 455px;">
                Hi! <p1 id="useridd"></p1>
            </p1>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="aboutPage">About</a></li>
                    <li><a href="countrylistPage">COUNTRY LIST</a></li>
                    <li><a href="javascript:void(0);" onclick="navDonate()">DONATE</a></li>
                    <li><a href="http://localhost:3000/myaccountPage">MY ACCOUNT</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<!--== Start Page Header Area ==-->
<div class="page-header-wrap bg-img" >
    <!--    <img class="img-header" src="img/page-header-bg.jpg" alt="" >-->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>About</h1>

                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="current"><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--== Start Page Content Wrapper ==-->
<div class="article-container">
    <div class="article-title">
        <h1>What is our project about and what can we do about it?</h1>
    </div>
    <div class="article-introduction">
        <p>The global average annual concentration of CO2 in the atmosphere averaged 407.4 ppm in 2018, up 2.4 ppm since 2017. This is a major increase from pre-industrial levels, which ranged between 180 and 280 ppm. Carbon dioxide emissions are unavoidable, but leaving a carbon footprint is not.Take the first step and erase your contribution to the problem.</p>
        <div class="img-background">
            <img src="img/global carbon emissions.png" alt="" title="" />
            <p class="pic-introduction">Data from World Bank estimates of CO2 emissions per capita</p>
        </div>
        <p>With climate change, sea levels are rising by an average of 1 inch every five years. scientists estimate that 150 million people are now living on land that will be below the high-tide line by 2050.</p>
    </div>
    <div class="article-content">
        <div class="text parbase section">
            <div data-gtm-component="text">
                <h2>What is solar offset?</h2>
                <p>Your solar offset is the amount of electricity your solar system produced in a year divided by the total amount of electricity your home actually used that year expressed as a percentage. Solar production measures the amount of electricity your solar system actually produces. Ideally, you want your solar production to be equal to or greater than your electricity usage. But in cases where your utility company compensates you at their export rate, it may make sense to build a smaller solar system that produces about 60% of your usage.</p>
            </div>
            <div class="img-background">
                <img src="img/Global-Solar-Atlas.png" alt="" title="" />
                <p class="pic-introduction">Global Solar Atlas Photovoltaic Power Potential: This map provides a summary of estimated solar photovoltaic (PV) power generation potential. </p>
            </div>
        </div>
        <div class="text-parbase-section">
            <div data-gtm-component="text">
                <h2>How to determine my solar offset?</h2>
                <p>You will need to find out how much electricity your home used for an entire year. You should be able to get that information from your utility company, it may be shown on your utility bill. Divide your system’s total solar production for that year by that number. For example:</p>
                <ul>
                    <li><strong>Your system produced 18,200 kilowatt-hours of electricity (Your solar production)</strong></li>
                    <li><strong>You used 20,400 kilowatt-hours of electricity</strong></li>
                    <li><strong>Your solar offset would be 89%</strong></li>
                </ul>
            </div>
            <div data-gtm-component="text">
                <h2>Does a 100% solar offset mean that I don’t have to pay for electricity?</h2>
                <p>If your utility company charges higher rates in the evening, when you are using electricity, than it does during the day when your system is supplying electricity, you will still owe money for the expensive electricity you used. Many solar owners are installing home batteries for that reason. The batteries power the home during those expensive peak rate hours.</p>
            </div>
            <div data-gtm-component="text">
                <h2>What can I do if my solar offset is too high?</h2>
                <p>You can reduce the world’s carbon footprint might do so by funding solar power in other countries. You could fund solar panels/power in a country of their choice and then see the carbon saving that they are making compared to their own carbon footprint.</p>
            </div>
        </div>
    </div>
    <div class="donate-btn">
        <button id="donate"><strong>Donate Now</strong></button>
    </div>
</div>

<div class="footer-nav-container">
    <div class="footer-nav" role="navigation">
        <div class="footer-nav-item hover-line"><a href="http://localhost:3000/aboutPage">ABOUT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="/contactPage">CONTACT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">NEWS</a><div class="hover-nav" id="mag"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">BLOG</a><div class="hover-nav" id="blo"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">ACTION FUND</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">CAREERS</a><div class="hover-nav" id="career"></div></div>
    </div>
</div>


</body>
</html>

<script src="javascript/about.js"></script>