<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <title>accountPage</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--css-->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/countryDetail.css">
    <link rel="stylesheet" href="/stylesheets/bundle.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/account.css">
    <link rel="stylesheet" href="/stylesheets/basket.css">


    <!--javascript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/superfish.min.js"></script>
    <script src="javascript/jquery.magnific-popup.min.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/main.js"></script>

</head>
<body>

<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="http://localhost:3000/contactPage">+44 114 222 2000</a>
                    <a href="http://localhost:3000/contactPage">solarOffset@gmail.com</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container main-menu" style="max-width: 1290px">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <!--                <a href="http://localhost:3000/loginPage"><img src="img/login.png" alt="" title="" /></a>-->
            </div>

            <p1 class="un-login" id="un-login">
                <a href="http://localhost:3000/loginPage" style="margin-right: 455px;">Log in</a>
            </p1>
            <p1 class="userName" id="userid" style="display: inline;margin-right: 428px;">
                Hi! <p1 id="useridd"></p1>
            </p1>

            <div style="position:relative;right:429px; display: none" id="logout">
                <button class="btn btn-outline-primary">logout</button>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="aboutPage">About</a></li>
                    <li><a href="countrylistPage">COUNTRY LIST</a></li>
                    <li><a href="javascript:void(0);" onclick="navDonate()">DONATE</a></li>
                    <li><a href="http://localhost:3000/myaccountPage">MY ACCOUNT</a></li>
                    <li id="contactP"><a href="contactPage">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<!--== Start Page Header Area ==-->
<!--<div class="page-header-wrap bg-img" >-->
<!--    &lt;!&ndash;    <img class="img-header" src="img/page-header-bg.jpg" alt="" >&ndash;&gt;-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12 text-center">-->
<!--                <div class="page-header-content">-->
<!--                    <div class="page-header-content-inner">-->
<!--                        <h1>Donation Basket</h1>-->

<!--                        <ul class="breadcrumb">-->
<!--                            <li><a href="/">Home</a></li>-->
<!--                            <li class="current"><a href="#">Donation</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="members-home" id="scroll">
    <div class="page-header-wrap bg-img" >
        <!--    <img class="img-header" src="img/page-header-bg.jpg" alt="" >-->
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1 id="superuser" class="index-header">
                            </h1>

                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="current"><a href="#">Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--<section class="centre-content bg-black ">-->

<!--    <h1 id="superuser" class="index-header">-->
<!--    </h1>-->
<!--    </h1>-->
<!--</section>-->
<!--<script>-->
<!--    function calculate(){-->
<!--        let id=window.sessionStorage.getItem("userID");-->
<!--       let to= document.getElementById("Elect").value;-->
<!--        $.ajax({-->
<!--        type : 'POST',-->
<!--        url : 'http://localhost:3000/getFootPrint',-->
<!--        dataType : 'json',-->
<!--        data : {-->
<!--            user_id : id,-->
<!--            electricity_consumption : to,-->
<!--        },-->
<!--        success : function (res){-->
<!--            if (res.code === '200'){-->
<!--                -->
<!--                console.log(res.result)-->
<!--                result = res.result-->
<!--            }else{-->
<!--                alert(res.msg)-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--    }-->
<!--</script>-->

<section class="light-color strip-content">
    <div class="wrapper">
        <div class="row">

            <div class="col-md-12">
                <div class="row dashboard-stats">
                    <div class="col-md-12 bg-white" style="text-align:left" id="userInformation">
                        <h2 id="uname"></h2>
                        <h2 id="emaiL"></h2>
                        <h2 id="carbonS"></h2>
                        <h2 id="carbonF"></h2>

                        <div style="display: flex; flex-direction: row; justify-content: flex-start">
                        <h2 class="margin-top:13px"> Electricity consumption : (kW·h per month)
<!--                            <form action="">-->
                                <input type="text" id="Elect" placeholder="0" ></input>


                            <button  type="submit" class="btn btn-primary" style="margin-bottom: 6px" id="submitEle">Submit</button>
<!--                            </form>-->
                        </h2>

                        </div>
                        <h3 style="margin-left: 370px;color: red">(Please enter the month Electricity consumption)</h3>
                    </div>
<!--                    <div class="col-md-4 bg-white">-->
<!--                        <h2>name: XXX</h2>-->
<!--                        <h2>Birthday: XX/XX</h2>-->
<!--                        <h2>XXXXX</h2>-->
<!--                    </div>-->
<!--                    <div class="col-md-4 bg-white">-->
<!--                        <h2>XXXXX</h2>-->
<!--                        <h2>XXXXX</h2>-->
<!--                        <h2>XXXXX</h2>-->
<!--                    </div>-->
<!--                    <div class="col-md-4 bg-white">-->
<!--                        <h2>XXXXX</h2>-->
<!--                        <h2>XXXXX</h2>-->
<!--                        <h2>XXXXX</h2>-->
<!--                    </div>-->
                </div>
            </div>

            <div class="col-md-12">
                <!--写购物车页面和历史购物记录-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row dashboard-lists">
                            <div class="container mt-3">
                                <h2>Paid Invoices</h2>

                                <table class="table" >
                                    <thead>
                                    <tr>
<!--                                        <th>Name</th>-->
                                        <th>Country(Donate)</th>
                                        <th>Money</th>
                                        <th>Carbon Footprint Savings</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tablePersonal">
<!--                                    <tr>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                        <td></td>-->
<!--                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<!--            结束row的div           -->
        </div>





<!--结束wrapper的div-->
    </div>
</section>

<!--    结束class member的div-->
</div>





<!--== Start Page Content Wrapper ==-->

<!--== End Page Content Wrapper ==-->

<div class="footer-nav-container" id="footer123">
    <div class="footer-nav" role="navigation">
        <div class="footer-nav-item hover-line"><a href="http://localhost:3000/aboutPage">ABOUT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="/contactPage">CONTACT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="https://www.evoenergy.co.uk/solar-pv-carbon-offset-calculator/">NEWS</a><div class="hover-nav" id="mag"></div></div>
        <div class="footer-nav-item hover-line"><a href="https://freedomforever.com/blog">BLOG</a><div class="hover-nav" id="blo"></div></div>
        <div class="footer-nav-item hover-line"><a href="/contactPage">ACTION FUND</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="https://www.carbonfootprint.com/solarschools.html">CAREERS</a><div class="hover-nav" id="career"></div></div>
    </div>
</div>


</body>

<script type="text/javascript">

    let user2Name ="Welcome back "+ window.sessionStorage.getItem("userName");
    let user3Name = window.sessionStorage.getItem("userName");
    if (user3Name){
    let object = document.getElementById("superuser");
    object.innerHTML = user2Name;
    } else {
        let object = document.getElementById("superuser");
        object.innerHTML = "Welcome back"
    }
</script>
</html>

<script src="javascript/account.js"></script>