<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>countryListPage</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--css-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/basket.css">

    <!--javascript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/superfish.min.js"></script>
    <script src="javascript/jquery.magnific-popup.min.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/main.js"></script>
</head>
<body>


<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="tel:+XX XXX XXXX XXX">+XX XXX XXXX XXXX</a>
                    <a href="XXXXXX@XXXXXXXX">XXXXXX@XXXXXXXX</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
<!--                <a href="http://localhost:3000/loginPage"><img src="img/login.png" alt="" title="" /></a>-->
            </div>

            <p1 class="un-login" id="un-login">
                <a href="http://localhost:3000/loginPage" style="margin-right: 455px;">Log in</a>
            </p1>
            <p1 class="userName" id="userid" style="display: inline;margin-right: 428px;">
                Hi! <p1 id="useridd"></p1>
            </p1>

            <div style="position:relative;right:429px; display: none" id="logout">
                <button style="">logout</button>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="aboutPage">About</a></li>
                    <li><a href="countrylistPage">COUNTRY LIST</a></li>
                    <li><a href="javascript:void(0);" onclick="navDonate()">DONATE</a></li>
                    <li><a href="http://localhost:3000/myaccountPage">MY ACCOUNT</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<!--== Start Page Content Wrapper ==-->
<div class="basket-container" id="basket-container">
    <div class="basket-item">
        <div class="basket-column">
            <table>
                <tr>
                    <td style="width: 30%;">Name of countries</td>
                    <td style="width: 25%;">Price of a solar panel</td>
                    <td style="width: 15%;">Quantity</td>
                    <td style="width: 30%;">Operation</td>
                </tr>
            </table>
        </div>
        <div class="basket-row" id="basket-row"></div>
        <div class="basket-total" id="basket-total"></div>
        <div class="basket-btn">
            <div class="donate-btn"><button id="donateBtn" data-toggle="modal" data-target="#myModal" onClick="confirmDonate()">Donate Now</button></div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Donation submitted</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body" style="text-align: left">Please complete the payment in the newly opened window.
                            If you have paid successfully, you can click the Right button to see how much carbon footprint have been reduced by your donation.</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Resubmit</button>
                            <button type="button" class="btn btn-primary" onclick="gotoResult()" style="color: black;background-color: #f8dc00;border: 1px solid #f8dc00;font-weight: 500">
                                Paid Successfully
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-nav-container" id="footer-nav-container">
    <div class="footer-nav" role="navigation">
        <div class="footer-nav-item hover-line"><a href="http://localhost:3000/aboutPage">ABOUT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="/contactPage">CONTACT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">NEWS</a><div class="hover-nav" id="mag"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">BLOG</a><div class="hover-nav" id="blo"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">ACTION FUND</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">CAREERS</a><div class="hover-nav" id="career"></div></div>
    </div>
</div>


</body>
</html>

<script src="javascript/basket.js"></script>