<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>countryListPage</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--css-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/countrylist.css">

    <!--javascript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/superfish.min.js"></script>
    <script src="javascript/jquery.magnific-popup.min.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/main.js"></script>
</head>
<body>


<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="tel:+XX XXX XXXX XXX">+XX XXX XXXX XXXX</a>
                    <a href="XXXXXX@XXXXXXXX">XXXXXX@XXXXXXXX</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
<!--                <a href="http://localhost:3000/loginPage"><img src="img/login.png" alt="" title="" /></a>-->
            </div>

            <p1 class="un-login" id="un-login">
                <a href="http://localhost:3000/loginPage" style="margin-right: 455px;">Log in</a>
            </p1>
            <p1 class="userName" id="userid" style="display: inline;margin-right: 428px;">
                Hi! <p1 id="useridd"></p1>
            </p1>

            <div style="position:relative;right:429px; display: none" id="logout">
                <button style="background-color:rgb(239, 239, 239)">logout</button>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="aboutPage">About</a></li>
                    <li><a href="countrylistPage">COUNTRY LIST</a></li>
                    <li><a href="javascript:void(0);" onclick="navDonate()">DONATE</a></li>
                    <li><a href="http://localhost:3000/myaccountPage">MY ACCOUNT</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<!--== Start Page Header Area ==-->
<div class="page-header-wrap bg-img" >
    <!--    <img class="img-header" src="img/page-header-bg.jpg" alt="" >-->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>Country List</h1>

                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="current"><a href="#">Country List</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--== Start Page Content Wrapper ==-->
<div class="page-content-wrapper sp-y">
    <div class="shop-page-action-bar mb-30">
        <div class="container container-wide">
            <div class="action-bar-inner">
                <div class="align-items-center">
                    <div class="items-left">
                        <div class="sort-by-wrapper">
                            <label for="sort" class="sr-only">Sort By</label>
                            <select name="sort" id="sort">
                                <option value="Carbon">Sort By Carbon Emissions per capita</option>
                                <option value="GDP">Sort By GDP</option>
                                <option value="Price">Sort By Price of a Solar Panel</option>
                                <option value="Saving">Sort By Savings for The Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="items-right">
                        <button class="up-arrow" id="up-arrow-pic" value=""></button>
                        <button class="up-arrow-select" id="up-arrow-pic-select" value=""></button>
                        <button class="down-arrow" id="down-arrow-pic" value=""></button>
                        <button class="down-arrow-select" id="down-arrow-pic-select" value=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--== End Page Header Area ==-->
    <div class="shop-page-product" id="product-item">
<!--        <div class="container container-wide">-->
<!--            <div class="product-wrapper product-layout layout-list">-->
<!--                <div class="row mtn-30">-->
<!--                    &lt;!&ndash; Start Product Item &ndash;&gt;-->
<!--                    <div class="col-sm-6 col-lg-4 col-xl-3">-->
<!--                        <div class="product-item">-->
<!--                            <div class="product-item__thumb">-->
<!--                                <a href="single-product.html">-->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div class="product-item__content">-->
<!--                                <div class="product-item__info" id="countryName">-->
<!--                                </div>-->
<!--                                <div class="product-item__desc">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Product Item &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <div class="shop-page-action-bar mt-30">
        <div class="container container-wide">
            <div class="action-bar-inner">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <nav class="pagination-wrap mb-10 mb-sm-0">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="ion-ios-arrow-thin-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-sm-6 text-center text-sm-right">
                        <p>Showing 1–12 of 26 results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Content Wrapper ==-->

<div class="footer-nav-container">
    <div class="footer-nav" role="navigation">
        <div class="footer-nav-item hover-line"><a href="http://localhost:3000/aboutPage">ABOUT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="/contactPage">CONTACT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">NEWS</a><div class="hover-nav" id="mag"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">BLOG</a><div class="hover-nav" id="blo"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">ACTION FUND</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="javascript:alert('Coming soon!');">CAREERS</a><div class="hover-nav" id="career"></div></div>
    </div>
</div>


</body>
</html>

<script src="javascript/countrylist.js"></script>