<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>countryListPage</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--css-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/countrylist.css">

    <!--javascript-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/superfish.min.js"></script>
    <script src="javascript/jquery.magnific-popup.min.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/main.js"></script>
</head>
<body>


<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="tel:+XX XXX XXXX XXX">+XX XXX XXXX XXXX</a>
                    <a href="XXXXXX@XXXXXXXX">XXXXXX@XXXXXXXX</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="http://localhost:3000/loginPage"><img src="img/login.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="COUNTRY LIST.html">COUNTRY LIST</a></li>
                    <li><a href="DONATE.html">DONATE</a></li>
                    <li><a href="MY ACCOUNT.html">MY ACCOUNT</a></li>

                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->


<!--== Start Page Header Area ==-->
<div class="page-header-wrap bg-img" >
<!--    <img class="img-header" src="img/page-header-bg.jpg" alt="" >-->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>Country List</h1>

                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="current"><a href="#">Country List</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area ==-->



<div class="footer-nav-container">
    <div class="footer-nav" role="navigation">
        <div class="footer-nav-item hover-line"><a href="/About-Us">ABOUT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="/About-Us/Contact-Us">CONTACT US</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="/Magazines">MAGAZINES</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="http://blog.nwf.org/">BLOG</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="https://online.nwf.org/site/SPageNavigator/ActionCenter">ACTION FUND</a><div class="hover-nav"></div></div>
        <div class="footer-nav-item hover-line"><a href="/About-Us/Careers">CAREERS</a><div class="hover-nav"></div></div>
    </div>
</div>


</body>
</html>