<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>loginPage</title>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>
<body>

<!--<a href="/" >-->
<!--    <img src="../img/back-button.png" alt="" id="back-button">-->
<!--</a>-->

<div class="dowebok">
    <div class="logo"></div>
    <div class="form-item">
        <input id="username" type="text" autocomplete="off" placeholder="username">
        <p class="tip1">Please enter a username</p>
    </div>
    <div class="form-item">
        <input id="password" type="password" autocomplete="off" placeholder="password">
        <p class="tip2">Please enter a password</p>
    </div>
    <div class="form-item"><button id="submit">Log In</button></div>
    <div class="reg-bar">
        <a class="reg" href="/registerPage" target="_self">Register now</a>
        <a class="forget" href="#" target="_blank">Forgot password</a>
    </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="javascript/login.js"></script>
</body>
</html>