<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Registration</title>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>
<body id="body-register">

<!--<a href="/" >-->
<!--    <img src="../img/back-button.png" alt="" id="back-button">-->
<!--</a>-->
<div class="dowebok" id="information">
<!--    <div class="logo"></div>-->
    <div class="form-top">
        <h1 class="signUp">Sign Up</h1>
    </div>
    <div class="form-item">
        <input id="email" type="text" autocomplete="off" placeholder="email">
        <p class="tip0">Please enter a valid email</p>
        <p class="tip00">This email has been registered, please use another email or log in</p>
    </div>
    <div class="form-item">
        <input id="username" type="text" autocomplete="off" placeholder="username">
        <p class="tip1">Please enter a username</p>
    </div>
    <div class="form-item">
        <input id="password" type="password" autocomplete="off" placeholder="password">
        <p class="tip2">Please enter a password</p>
    </div>
    <div class="form-item"><button id="submit">Registration</button></div>
    <div class="reg-bar">
        <a class="reg" href="/loginPage" target="_self">Sign in</a>
        <a class="forget" href="#" target="_blank">Forgot password</a>
    </div>
</div>
<div class="dowebokVerify" id="emailVerify">
    <div class="emailPic"></div>
    <div class="form-top">
        <h2 class="title">Enter confirmation code</h2>
        <p class="tips">Enter the confirmation code that we sent to </p>
        <span class="tips" id="emailInput"></span>
        <span class="tips"><button id="resend">Resend code.</button></span>
    </div>
    <div class="form-item">
        <input id="emailCode" type="text" autocomplete="off" placeholder="Confirmation code">
        <p class="tip0">Please enter the confirmation code that we sent to your email.</p>
        <p class="tip1">That code isn't valid. You can request a new one.</p>
    </div>
    <div class="form-next"><button id="next">Next</button></div>
    <div class="form-back"><button id="back">Go back</button></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="javascript/register.js"></script>
<script src="javascript/toast.js"></script>
</body>
</html>