/*#header {*/
/*    background-color: rgba(34, 34, 34, 0.9); !important;*/
/*    padding: 0px 0px 20px 0px; !important;*/
/*    position: fixed; !important;*/
/*    left: 0; !important;*/
/*    top: 0; !important;*/
/*    right: 0; !important;*/
/*    transition: all 0.5s; !important;*/
/*    z-index: 997; !important;*/
/*}*/
header {
    width: 100%; !important;
    height: 144px; !important;
    background-color: #000; !important;
    overflow: hidden; !important;
}

header nav li {
    display: inline; !important;
    float: left; !important;
    height: 22px;  !important;
    border-left: 0px solid #ccc;  !important;
    position: relative; !important;
    top: 10px; !important;
}

.centre-content, .centre-content2 {
    text-align: center;
    padding: 100px 0; !important;
    overflow: hidden;
}

h1, .h1 {
    font-size: 5.5rem; !important;
}

body{
    font-size: 1.7rem; !important;
}

#scroll{
    padding-bottom: 80px;
}

#edge{
    max-width: 1290px; !important;
}