
#header {
    position: inherit;!important;

}
/*=====================================
   01. Typography CSS
===================================== */
body {
    color: #303030;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

/* Remove text-shadow in selection highlight. */
::-moz-selection {
    background: #eeb644;
    color: #FFFFFF;
    text-shadow: none;
}

::selection {
    background: #eeb644;
    color: #FFFFFF;
    text-shadow: none;
}

img {
    vertical-align: middle;
}


/* Anchor Tag Default Style */
a {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    outline: none;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

/* Heading Default Style */

h4 {
    color: #1b1b1c;
    line-height: 1.2;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 60px;
    margin-bottom: 6px;
    margin-top: -15px;
}

/* Paragraph Margin */
p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.bg-img {
    background: no-repeat center center;
    background-size: cover;
}

/*14. Page Header Style
==========================*/
.page-header-wrap.bg-img{
    background: url("../img/world-map.png") no-repeat;
    background-size: cover;
}
.page-header-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
}
strong {
    font-weight: 700;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.container.container-wide{
    padding-top: 35px;
}

.product-item {
    background-color: #f6f6f6;
    position: relative;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.product-item__thumb {
    position: relative;
}

.product-item__thumb .thumb-secondary {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.product-item__thumb img {
    text-align: center;
    display: block;
    margin: auto;
}

.product-item__content {
    position: relative;
}

.product-item__content .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.product-item__content .title a {
    color: #1b1b1c;
}

.product-item__content .title a:hover {
    color: #eeb644;
}

.product-item__content .price {
    color: #666666;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.product-item__content .price strong {
    color: #1b1b1c;
    font-weight: 600;
}

.product-item__action {
    padding: 0 30px;
    position: absolute;
    left: 0;
    bottom: 18px;
    font-size: 22px;
    line-height: 1;
}

.product-item__action button {
    color: #303030;
    margin-right: 15px;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.product-item__action button:last-child {
    margin-right: 0;
}

.product-item__action button:hover {
    color: #eeb644;
}

.product-item .ratting {
    color: #eeb644;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
}

.product-item__sale {
    background-color: #1b1b1c;
    color: #FFFFFF;
    display: inline-table;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 6px;
    position: absolute;
    text-transform: uppercase;
    left: 30px;
    right: auto;
    top: 30px;
    text-align: center;
    letter-spacing: 0.05em;
}


.action-bar-inner {
    border: 1px solid #e1e1e1;
    padding: 15px 30px;
}

.layout-switcher li {
    border: 1px solid transparent;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 20px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    padding: 6px 5px 4px;
}

.layout-switcher li:last-child {
    margin-right: 0;
}

.layout-switcher li.active {
    border-color: #1b1b1c;
}

.pagination li {
    margin-right: 20px;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination li a {
    color: #a7a7a7;
}

.pagination li:hover a,
.pagination li.active a {
    color: #000000;
}

.layout-list [class*="col-"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.layout-list .product-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0 40px 0;
}

.page-header-content h1 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 0;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 20px;
}

.breadcrumb li {
    position: relative;
}

.breadcrumb li:after {
    content: '>';
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    vertical-align: middle;
    line-height: 1;
    display: inline-block;
    margin-top: -7px;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumb li a {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    line-height: 1;
}

.breadcrumb li a:hover {
    color: #eeb644;
}

.breadcrumb li.current:after {
    display: none;
}

.breadcrumb li.current a {
    color: #FFFFFF;
    pointer-events: none;
}

.nav-menu li:hover a{
    color: #eeb644;
}

.col-lg-6.col-sm-6.col-4.header-top-left.no-padding:hover{
    color: #eeb644;
}

.layout-list .product-item__thumb {
    -webkit-flex-basis: 35%;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    max-width: 35%;
}

.layout-list .product-item__thumb img {
    width: 240px;
    height: 160px;
}

.layout-list .product-item__content {
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    max-width: 65%;
}

.layout-list .product-item__content .ratting {
    text-align: left;
}

.layout-list .product-item__content .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.layout-list .product-item__action {
    position: static;
    padding: 0;
    margin-top: 20px;
}

.layout-list .product-item__action button,
.layout-list .product-item__action a {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.layout-list .product-item__desc {
    border-top: 1px solid #e1e1e1;
    margin-top: 25px;
    padding-top: 25px;
    display: block;
}

.layout-list .product-item:hover .product-item__content .price {
    opacity: 1;
    visibility: visible;
}

.form-item {
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.form-item button {
    background-color: #f8dc00;
    border-color: #f8dc00;
    border-radius: 0;
    height: 60px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}


