* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff url(../img/background.png) 50% 50% no-repeat;
    /*//Samuel Ferrara  https://unsplash.com/photos/1527pjeb6jg*/
    background-size: cover;
}

#body-register {
    height: 100%;
    background: #fff url(../img/background-register.png) 50% 50% no-repeat;
    /*//Samuel Ferrara  https://unsplash.com/photos/1527pjeb6jg*/
    background-size: cover;
}

.dowebok {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    height: 550px;
    margin: -300px 0 0 -215px;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
}

#back-button{
    height:75px;
    position: absolute;
    left:10px;
    top:10px;
}

.logo {
    width: 104px;
    height: 104px;
    margin: 50px auto 80px;
    background: url(../img/login2.png) 0 0 no-repeat;
}

.form-item {
    position: relative;
    width: 360px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.form-item input {
    width: 333px;
    height: 48px;
    padding-left: 25px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    outline: none;
}

.form-item button {
    width: 360px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    font-size: 18px;
    color: #1f6f4a;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}


.tip1 {
    display: none;
    position: absolute;
    left: 20px;
    top: 52px;
    font-size: 14px;
    color: #f50;
}
.tip2 {
    display: none;
    position: absolute;
    left: 20px;
    top: 52px;
    font-size: 14px;
    color: #f50;
}

.reg-bar {
    width: 360px;
    margin: 20px auto 0;
    font-size: 14px;
    overflow: hidden;
}

.reg-bar a {
    color: #fff;
    text-decoration: none;
}

.reg-bar a:hover {
    text-decoration: underline;
}

.reg-bar .reg {
    float: left;
}

.reg-bar .forget {
    float: right;
}

.dowebok ::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.dowebok :-moz-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.dowebok ::-moz-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

.dowebok :-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}

@media screen and (max-width: 500px) {
    * {
        box-sizing: border-box;
    }

    .dowebok {
        position: static;
        width: auto;
        height: auto;
        margin: 0 30px;
        border: 0;
        border-radius: 0;
    }

    .logo {
        margin: 50px auto;
    }

    .form-item {
        width: auto;
    }

    .form-item input, .form-item button, .reg-bar {
        width: 100%;
    }
}